table{
    width: 50%;
    border-collapse: collapse;   margin-top: 2;
}

thead{
    background-color: rgb(44, 218, 218);
    color: black;
}

th,td{
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

